{% extends "base.html" %}

{% block title %}Post{% endblock %}


{% block content %}

<div class="container-custom" style="width: 95%; margin: auto;">
    

        <h2>{{cat.title}}</h3>
            <!-- <p>{{cat.description}}</p> -->

            <img src="/media/{{cat.image}}" class="responsive-img" style="max-height: 400px;width: 100%;object-fit: cover;">
            <!-- <br> -->
            
        </div> 
        <div class="collection">
            {% for p in posts %}
            <a href="/blog/{{p.url}}" class="collection-item">{{p.title}}</a>
            {% endfor %}
        </div>

{%endblock%}